.custom-container {
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 0;
}

.custom-step {
  text-align: center;
}

.custom-heading {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.custom-search {
  margin: 20px auto;
  text-align: center;
}

.custom-input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 15px;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-col {
  flex: 0 0 calc(20% - 20px); /* Adjusted for 5 columns */
  max-width: calc(20% - 20px); /* Adjusted for 5 columns */
  margin: 0 10px;
}

.custom-card {
  background: linear-gradient(135deg, #e3f2fd,  #9bec88);
  border: 1px solid #cfe2ff;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  height: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* gap above footer */
}


.custom-card:hover {
  box-shadow: 0 8px 20px rgba(13, 110, 253, 0.25);
  transform: translateY(-4px);
}


.custom-image {
  width: 100%;
  height: 160px;        /* FIXED */
  object-fit: contain;
  border-radius: 5px;
}


.custom-title {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.custom-description {
  text-align: center;
  margin-top: 10px;
  height: 50px; /* Limit height for description */
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-price {
  text-align: center;
  margin-top: 10px;
}

.custom-old-price {
  text-decoration: line-through;
  color: #888;
}

.custom-buttons {
  text-align: center;
  margin-top: 15px;
}

.custom-button {
  font-size: 14px;
  padding: 3px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button.view-button {
  background-color: #d5c7c7;
  color: rgb(0, 0, 0);
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px;
}

.custom-button.view-button:hover {
  background-color: #a98b8b;
}

.custom-button.add-button {
  background-color: #d5c7c7;
  color: rgb(4, 4, 4);
  padding: 5px;
}

.custom-button.add-button:hover {
  background-color: #a98b8b;
}

.custom-view-more {
  margin-top: 15px;
  margin-bottom: 30px;
}

.custom-footer {
  margin-top: 0;
  text-align: center;
}

.page-body {
  background-image:Linear-gradient(rgba(157, 189, 148, 0.8),rgba(31, 27, 27, 0.8)), url('C:\src\assets\allmdimg.jpeg');
  background-size: cover; /* background-position: center; */ margin: 0; padding-bottom: 120px;  padding-top: 5px; }


i {
  color: rgb(228, 16, 16);
}
