.space-buttons{
    flex: 1 1 auto;
}

a{
    color: rgb(22, 22, 21); 
    text-decoration: none;

    margin-left: 20px;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

a:hover{
    
    font-weight: bold;
}

.active-link{
    font-weight: bold;
}

.form-group input.ng-invalid {
    border: 1px solid red;
  }
  
.navbar {
    background-color: #ffffff;
    border: solid black 1px;
}
img {
    height: 22px;
    width: 20px;
    padding-bottom: 2px;
    margin-right: 8px;
}