
<div class="bgImage">
  
    <div class="container ">
        <div class="content">
        <h1>About Us</h1>
        
        <p >
            Welcome to our medical store, where health meets care and convenience! Founded with a commitment to
            quality healthcare and trusted service, we are dedicated to providing genuine medicines and wellness
            products for every need. Whether you're looking for daily essentials, prescription medicines, or
            specialized healthcare solutions, our carefully selected collection ensures safe and reliable care
             for you and your family.
        </p>

        <p>
            Thank you for choosing MediCare. Join us in building a healthier future and experience the comfort
             of dependable healthcare, right at your fingertips.
        </p>
        </div>

        <div class="top">
            <div class="info">
                <p class="icon"><i class="bi bi-rocket-takeoff"></i></p>
                <p>Fast Delivery</p>
                <p>Shipping Worlwide</p>
            </div>
            <div class="info">
                <p class="icon"><i class="bi bi-bookmark-heart"></i></p>
                <p>Open discount</p>
                <p>Offering open discount</p>
            </div>
            <div class="info">
                <p class="icon"><i class="bi bi-flower3"></i></p>
                <p>Eyes on quality</p>
                <p>Publishing quality work</p>
            </div>
            <div class="info">
                <p class="icon"><i class="bi bi-clipboard-heart"></i></p>
                <p>24/7 Support</p>
                <p>Serving every moments</p>
            </div>
        </div>

        
    </div>
</div>

   


