.bgImage{
    
    height: 79.4%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    background-image: Linear-gradient(rgba(157, 189, 148, 0.8),rgba(31, 27, 27, 0.8)),url(C:\src\assets\aboutus.jpeg);

}

#bottom {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  p{
    color: white;
    font-size: 20px;
    padding-right: 20px;
  }

  h1{
    color: rgb(29, 6, 86);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .content{
    position:absolute;
    top: 60%;
    margin-top: 0;   
}

.info {
  display: inline-block;
  border: 3px solid #b4a0a0;
  border-radius: 8px;
  margin-left: 30px;
  margin-top: 50px;
}
.icon {
  text-align: center;
}
.top {
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}

.info p {
  margin: 0;
  padding-left: 10px;
  color: rgb(253, 253, 253);
}