body, html {
  height: 100%;
  margin: 0;
}

.container-fluid {
  height: 100%;
  background-image:Linear-gradient(rgba(157, 189, 148, 0.8),rgba(31, 27, 27, 0.8)), url('C:\src\assets\loggg.jpg');
  /*background-image: url('../../assets/login.jpg'); */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBG {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}

.col-lg-6 {
  background-color: rgba(243, 229, 229, 0.5); /* Optional: to make the content more readable over the background image */
  color: white; /* Optional: adjust text color to be readable */
  padding: 10px;
  border-radius: 10px; /* Optional: rounded corners for better aesthetics */
  opacity: 2;
}

.mat-form-field .mat-input-element {
  color: white;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: rgb(237, 233, 233);
}

.mat-form-field .mat-form-field-ripple {
  background-color: white;
}

.btnStyle {
  background-color: #817157; /* Adjust the button color as needed */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnStyle:hover {
  background-color: #594729;
}

.col-lg-4 {
  padding: 20px;
  width: 250px;
}

