<div class="container-fluid bgColor ">
  <div class="row justify-content-center align-items-center">
    
      <div class="banner2 text-center">
        <div class="bannerContent">
         <h1 class="mb-4">
  Your health is our priority at our <span class="text-bold">Medical Store</span> — <br>
  trusted medicines, genuine care...
</h1>
          <a href="/allproducts" class="btn btn-primary btn-lg">
            SHOP NOW <i class="bi bi-arrow-right"></i>
          </a>
        </div>

        <div class="container mt-5">
          <div class="row">
            <div class="col-lg-4">
              <div class="feature-box text-center">
                <!--<img src="../../assets/book1.jpg" class="img-fluid mb-3" alt="Enhanced User Experience">-->
                <h5 class="mb-3">Enhanced User Experience</h5>
              <p>Quickly search medicines by name, brand, or health condition.</p>

              </div>
            </div>
            <div class="col-lg-4">
              <div class="feature-box text-center">
                <!--<img src="../../assets/delivery.png" class="img-fluid mb-3" alt="Free Delivery">-->
                <h5 class="mb-3">Free Delivery</h5>
                <p>Enjoy free delivery on orders up to Rs. 1000 and quick doorstep delivery.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="feature-box text-center">
                <!--<img src="../../assets/payment.png" class="img-fluid mb-3" alt="Easy Payment">-->
                <h5 class="mb-3">Easy Payment</h5>
                <p>Secure and convenient payment methods for a hassle-free shopping experience.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </div>
</div>
<footer class="footer mt-1">
  <div class="container text-center">
    <p style="color:white;">&copy; 2026 Your Medical Store. All rights reserved.</p>
  </div>
</footer>
